# SPDX-FileCopyrightText: Metadata Cleaner contributors
# SPDX-License-Identifier: GPL-3.0-or-later

.cache
.venv
.vscode
build
builddir
build-dir
**/*.ui~
**/*.ui#
**/__pycache__
.flatpak-builder/
.ruff_cache/
.devbox/
builddir
pyfiglet-*.tar.gz
pyfiglet-*/
po/*~
