/*
SPDX-FileCopyrightText: Metadata Cleaner contributors
SPDX-License-Identifier: GPL-3.0-or-later
*/

listview.files>row {
	padding: 0;
	border-bottom: 1px solid @borders;
}

listview.files .remove,
listview.files .file {
	border-radius: unset;
	font-weight: unset;
}

listview.files .remove {
	padding: 6px 12px;
}

listview.files separator {
	opacity: 0;
	transition: 0.1s opacity;
}

listview.files>row:hover separator {
	opacity: 1;
	transition: none;
}

listview.metadata {
	background: none;
}

listview.metadata>row {
	margin: 12px 24px;
}

listview.metadata>row:last-child {
	margin-bottom: 24px;
}

row.metadata>box {
	margin: 6px;
	border-spacing: 12px;
}

.badge {
	border-radius: 11px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

.badge.flat {
	background: none;
	color: @theme_fg_color;
}

.badge label {
	margin: 0 6px;
}

.badge.metadata {
	background-color: @accent_color;
}

.badge.warning {
	background-color: @warning_color;
}

.badge.error {
	background-color: @error_color;
}

.badge.success {
	background-color: @success_color;
}

.badge label {
	padding: 0 0.4em;
}
